services:
  snapexchange:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      - APP_PORT=8081
      - ECB_URL=https://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml
      - LOG_LEVEL=debug
    volumes:
      - .:/app
      - /app/tmp
    restart: unless-stopped
